@{
    ViewBag.Title = "Contact";
}


<div class="container-fluid">
    <div class="hero row align-items-center">
        <div class="col-lg-4 col-md-6">
            <div class="about-img">
                <h2 class="fa-5x">Contactenos</h2>
            </div>
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="about-text">
                <div class="form">
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>
                    <form>
                        <p class="fa-2x">Para mayor información:<br /></p>"
                        <address>
                            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                        </address>
                        <button class="btn bg-success fa-2x mt-4">@Html.ActionLink("Volver", "Index", "CarCenter")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

