
@{
    ViewBag.Title = "Ingresar";
    ViewBag.Usuario = "JAINERM";
}

<div class="container-fluid">
    <div class="hero row align-items-center">
        <div class="col-lg-7 col-md-6">
            <div class="about-img">
                <h2 class="fa-5x">Bienvenido</h2>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="about-text">
                <div class="form">
                    <form>
                        <button class="btn btn-block bg-success fa-2x mt-4">@Html.ActionLink("Cerrar sesion", "Index", "CarCenter")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


